/* ? This file contains global CSS styles that apply to the entire application. It 
allows you to define styles that should be applied globally, affecting all components within the app */
/* base rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3.2rem;
}

p,
li,
a,
label{
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* theme */
:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --heading-color: #fdfdfd;
  --h-color: #0a043c;
  --font-color: #424242;
  --bg-color: #ffffff;
  --white-color: #ffffff;
  --para-color: #fafafa;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --test: #070101;
  --card-bg-color: rgb(0, 0, 44);
}

/* layout */
.container {
  max-width: 100%;
  padding: 9.6rem 2.4rem;
  margin: 0 auto;
  background-color: #000a19;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

