.card-heading{
    margin-bottom: 3.2rem;
}

.card{
     box-shadow: rgba(235, 230, 230, 0.05) 0px 6px 24px 0px,
            rgba(255, 255, 255, 0.08) 0px 0px 0px 2px;
     border-radius: 15px;
     background-color: var(--card-bg-color);
   }
    
img{
    height: 20%;                
    width:100%;
    border-radius: 15px;
}

.card-content{
    padding: 3.2rem 1.2rem;
    display:flex;
    flex-direction: column;
    gap: 1.2rem;
}


